* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV BAR */

.navbar {
  padding: 25px !important;
}

.navbar .nav-item a {
  margin-left: 25px;
  font-weight: bold;
}

.navbar form button:first-child {
  border: none;
  margin: 0 10px;
}
.navbar form button:first-child:hover {
  color: gray;
  background-color: transparent;
}

.navbar form button:nth-child(2),
button:last-child {
  margin: 0 10px;
  border-radius: 20px;
}

/* NAV BAR */

.cnt1 {
  margin-bottom: -25px;
}

.col1 {
  background-color: #f7f7f7;
  height: 100vh;
  position: sticky;
  top: 0;
}

.col1 .bt-left {
  position: absolute;
  bottom: 50px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.col1 .bt-left .bas {
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.col1 .bt-left .bas:hover {
  background-color: rgba(111, 114, 112, 0.384);
}

.col2 {
  background-color: #f7f7f7;
}

.col1 img {
  width: 105%;
  height: 100%;
  margin-left: -13px;
}

.col2 .img-right {
  margin-left: -12px;
  width: 103.1%;
}

.box2 {
  padding: 40px;
}

.box2 h3 {
  color: black;
  margin-bottom: 20px;
  font-size: 30px;
}

.box2 p {
  color: #6c6c6c;
}

.box2 button {
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #008248;
  color: #008248;
  margin-top: 10px;
}

.box2 button:hover {
  background-color: rgba(19, 156, 30, 0.384);
  border: 1px solid #008248;
  color: #008248;
}

.boxe4 {
  margin: 40px 0;
}

.boxe4 .col-md-6 {
  margin-bottom: 30px;
}

.boxe4 .card {
  box-shadow: 10px 10px 14px #8080806b;
  transition: 0.1s ease-in-out;
}
.card:hover {
  transform: scale(1.03, 1.03);
}

.boxe4 .box-btn {
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #008248;
  color: #008248;
}
.boxe4 .box-btn:hover {
  background-color: rgba(19, 156, 30, 0.384);
  border: 1px solid #008248;
  color: #008248;
}

.icons {
  margin-left: 20px;
}
.icons .bi {
  padding-left: 10px;
}

.icons a {
  color: #1f1f1f;
}
.icons a:hover {
  color: #353535;
}

.list-lien ul {
  list-style-type: none;
  margin: 50px 0px 50px 0px;
}

.list-lien ul li {
  margin-top: 30px;
}

.list-lien ul li a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
}

.list-lien ul li a:hover {
  color: #726767;
}

.copyright ul {
  list-style-type: none;
  margin-bottom: 30px;
  color: gray;
}

/*    Accordions   */

.wh {
  background-color: white;
  padding: 10px 15px;
  margin-left: -10px;
  width: 102.6%;
}

.accordion .liens1 {
  padding: 0;
  margin: 0;
}

.accordion button {
  font-size: 25px;
  font-weight: 400;
  border: none;
}

.accordion .accordion-item {
  margin-bottom: 33px;
}

.accordion .liens1 a {
  color: #6c6c6c;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.dividers {
  margin-bottom: 30px;
}

/*    Accordions   */
